.v-application {
    font-family: 'Play', sans-serif;
}
.sellBuyInput:hover {
    border:1px solid #A4A5AF;
}

* {
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#root.market {
    background: #16172C;
    margin-top: 0;
}
#root {
    position: relative;
}

#tv_chart_container iframe {
    height: 670px !important;
}
.btn {
    background: #FF0090 0% 0% no-repeat padding-box;
    padding: 15px 80px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: all .5s;
    border: 1px solid transparent;
    transition: all .5s;
}
.container-full {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-large {
    max-width: 1400px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.container-small {
    max-width: 1200px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.market-main-wrap {
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    flex-wrap: wrap;
}

.order-books-price {
    font-style: normal;
    font-size: 12px;
    width: 33.3%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
    color: #EF564D;
}
.order-books-amount, .order-books-total {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    width: 33.3%;
    text-align: center;
}

.marketPrice-label,
.high-marketPrice-label,
.low-marketPrice-label,
.volume-24h-label,
.djooky-volume-24h-label {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #858495;
}

.market-price-value,
.high-market-price-value,
.low-market-price-value,
.volume-24h-value,
.djooky-volume-24h-value,
.low-market-price-value {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.market-price-value.default-price,
.high-market-price-value.default-price,
.low-market-price-value.default-price,
.volume-24h-value.default-price,
.djooky-volume-24h-value.default-price,
.low-market-price-value.default-price {
    color: #FFFFFF;
}

.market-price-value.top-price,
.high-market-price-value.top-price,
.low-market-price-value.top-price,
.volume-24h-value.top-price,
.djooky-volume-24h-value.top-price,
.low-market-price-value.top-price {
    color: #62B299;
}

.market-price-value.bottom-price,
.high-market-price-value.bottom-price,
.low-market-price-value.bottom-price,
.volume-24h-value.bottom-price,
.djooky-volume-24h-value.bottom-price,
.low-market-price-value.bottom-price {
    color: #EB5168;
}
.main_info_sell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.price_butsell, .amount_sell_buy {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #A4A5AF;
    display: block;
    margin-right: 8px;
    position: absolute;
    left: 12px;
}
.sellBuyInput {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    max-width: 240px;
    height: 48px;
    text-align: right;
    padding-right: 60px;
    outline: none;
    caret-color: #A4A5AF;
}
.main_info_sell input + span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #A4A5AF;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.main_info_sell input + span:after {
    content: attr(data-label);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #BABABA;
}

.main_info_sell span {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #858495;
}


.market-header {

}

.market .table {
    background: #2D313D;
    border-radius: 5px;
}

.market .table thead tr th {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.market .table tbody tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #858495;
}

.market .table tbody tr {
    background: #2D313D;
}

.market .table tbody tr:nth-child(even) {
    background: #20232B;
}

.market .table thead {
    background: transparent;
}




.market .table tbody tr {
    border-bottom: none;
}

.market .table tbody tr td {
    border-right: 0;
}

.market .table .mCSB_container {
    margin-right: 0;
}

.market .table thead tr th {
    border-right: 0;
}

.market .table tbody tr td.buy {
    color: #62B299;
}

.market .table tbody tr td.sell {
    color: #EB5168;
}

.market .jq-number__field input {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #858495;
}
.flex-wrap {
    display: flex;
    width: 100%;
}
.order-books-isAskTrue .order-books-price {
    color: #56BD86;
}
.order-form-callateral-button {
    width: 100%;
    height: 48px;
    text-align: center;
    align-items: center;
    background: linear-gradient(90deg, var(--v-primaryGradientFrom-base), var(--v-primaryGradientTo-base) 51%, var(--v-primaryGradientTo-base)) var(--x, 0)/ 200%;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #111222;
    transition: all .2s;
}
.order-form-callateral-button:hover {
    --x: 100%;
}

.gradient-border {
    position: relative;
    width: 100%;
}

.gradient-border:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(90deg, var(--v-primaryGradientFrom-base) 0%, var(--v-primaryGradientTo-base) 100%);
}
  
.gradient-border:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 8px;
    background: var(--v-primaryBg-base);
}

.custom-accent {
    cursor: pointer;
    background: linear-gradient(90deg, var(--v-primaryGradientFrom-base), var(--v-primaryGradientTo-base) 51%, var(--v-primaryGradientTo-base)) var(--x, 0)/ 200%;
}
.custom-accent:hover {
    --x: 100%;
}
.custom-accent.btn--disabled:hover {
    --x: 0;
}

.v-expansion-panel-content__wrap {
    padding: 0 20px 16px;
}